header {
  background-color: #333;
  color: #fff;
}
.block {

   &__item {
   }

   &__active {
   }

   &__ {
   }
}

.block {
}
.block__item {
}
.block__item {
}

.block__active {
   
}


.block__item {sdgsdgs
   dfdsfdsf
}
.block__ {
}
.block {

   &__item {
   }

   &__active {
   }

   &__ {
   }
}

